*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

.wrapper{
    width: 20vw;
    height: 60vh;
    margin:0 auto;
    border: 12px solid red;
}

.login{
    padding: 50px 0;
    text-align: center;
    text-transform: uppercase;
}

form{
    text-align: center;
}

input[type="text"], input[type="password"]{
    margin: 5px 0;
    padding: 15px 55px;
    border: 1px solid #eee;
    background-color: #ddd; 
    outline: none;
}

.email{
    position: relative;
}
.emailIcon{
    position: absolute;
    font-size: 16px;
    z-index: 1;
    top:168px;
    left:835px;
}

.password{
    position: relative;
}

.passwordIcon{
    position: absolute;
    font-size: 16px;
    z-index: 1;
    top:225px;
    left:835px;
}

.checkInput{
    margin: 5px 0 10px;
    margin-left:-270px;
}

.text{
    display: block;
    font-size: 14px;
    color:#aaa;
    margin-top:-25px;
    margin-left:-150px;
}

.submitButton{
    text-transform: uppercase;
    margin: 20px auto 0;
    padding: 15px 120px;
    color: white;
    font-weight: bold;
    background-color: rgb(179, 41, 147);
    border:none;
}

.optionLogin{
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    padding-top: 10%;
    color: #aaa;
}

.socials{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 25px 30px;
}

.facebook{
    padding: 5px 20px;
    border:1px solid #ddd;
    color:darkblue;
}

.facebookIcon{
    vertical-align:text-top;
}

.google{
    padding: 5px 30px;
    border:1px solid #ddd;
}

.googleIcon{
    vertical-align: text-top;
}

.footer{
    font-size: 14px;
    color:#aaa;
    margin-top: 8vh;
    text-align: center;
}

.signUp{
    border-bottom: 1px dotted #aaa ;
}
